name: Build NetOpsy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setting up perm
        run: chmod +x build.sh

      - name: Build NetOpsy
        run: ./build.sh
